<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-template-index") %>>
          <a href="/docs/providers/cloudinit/index.html">Cloud-init Provider</a>
        </li>

        <li<%= sidebar_current("docs-template-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-template-datasource-cloudinit-config") %>>
              <a href="/docs/providers/cloudinit/d/cloudinit_config.html">cloudinit_config</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
